body { background:#000; color:#fff; font-family:Arial; padding:20px; }
h1 { font-size:32px; margin-bottom:20px; }
#sessionInput { margin-bottom:20px; }
input { padding:10px; font-size:16px; }
button { padding:10px 20px; font-size:16px; cursor:pointer; }
pre{background:#111; padding:20px; border-radius:8px;}